.mission-details-window-container {
  z-index: 2;
  background: #121212;
  width: 40rem;
  opacity: 80%;
  font-size: 0.875rem;
}

.mission-details-window-container header {
  color: #FFF;
  background: #0D0D0D;

  padding: 0.25rem 1rem;
}

.mission-details-window-container article {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: var(--green);
  padding: 0.5rem 1rem 1rem;
}
.mission-details-window-container article p:nth-child(2), .mission-details-window-container article p:nth-child(3), ul, li  {
  margin-top: 0.5rem;
}

ul {
  padding-left: 0.5rem;
}

.line {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.dir-content-footer {
  margin-top: 1rem;
}